<div>
    <!-- top parts -->
    <div class="card" style="background-color: rgb(212, 238, 243);">
        <div class="container" style="height:110vh;">
            <h3 style='text-align: center;color: rgb(64, 64, 228); text-shadow: 1px 1px 2px gray;'>Helping to facilitate right care at the right time</h3>
            <hr/>
            <p>During emergency situations, it is now quite common that patients who are rushed to nearby hospitals 
often face great hardships due to non-availability of the required facilities in that hospital. At the 
hospital, staffs are overworked; managing huge incumbent crowds at the reception and unable to 
prioritize emergency cases and critical situations.
It would be extremely helpful if the patient knows of hospitals closest to their location and before 
reaching is aware whether the necessary medical facilities are available for providing the right care. 
For hospitals, a heads-up would ensure well prepared staff and onsite facilities to provide timely care.</p>
            <hr/>

            <div class="card">
                <div class="card-body" id="main-screen-card">
                Find hospitals / reservation or book 
                </div>
            </div>
            <hr/>
            <div class="card">
                <div class="card-body">
                Emergency ambulance service
                </div>
            </div>
            <hr/>
            <div class="card">
                <div class="card-body">
                Check your Booking/reservation status
                </div>
            </div>
            <hr/>
            <h5 style="color: rgb(44, 44, 235);">Concept:</h5>
            <p>Capgemini India's aarogya niketan platform has been developed precisely with the objective of 
facilitating discovery of nearest hospitals and medical care for patients and delivery of timely care by 
hospitals, especially to emergency COVID cases.
Think about Zomato when you want to order food from a nearby restaurant or book the nearest Ola 
when you want to travel urgently. The same principle should apply with even much higher importance 
when you want to book a medical service, especially during an emergency.</p>

        </div>
    </div>
    
    <!-- end parts -->
    <div class="card" style="background-color: rgb(0, 0, 0); color:aliceblue">
        <div class="container" style="height:40vh;">
            <h3 >Arogya Nikethan</h3>
            <p>Project by:</p>
            <ul>
                <li>Prasad Krishna Murthi</li>
                <li>Navami S</li>
                <li>Sajin S</li>
            </ul>
            <div style="text-align: center;">
                <h4>@Capgemini Angular Project Aug 2021</h4>
            </div>
        </div>
    </div>
</div>